* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a,
a:visited {
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  cursor: pointer;
  outline: 1px solid #FF6A6A;
  background: #FFFFFF;
  border: none;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.fas {
  cursor: pointer;
}

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__inner_margin {
  margin-bottom: 57px;
}

.form input[type="country"]::-webkit-input-placeholder {
  color: #B1B1B1;
}

.form input[type="state"]::-webkit-input-placeholder {
  color: #222222;
}

.form input[type="code"]::-webkit-input-placeholder {
  color: #222222;
}

.form input[type="name"]::-webkit-input-placeholder {
  color: #B1B1B1;
}

.form input[type="email"]::-webkit-input-placeholder {
  color: #B1B1B1;
}

.form input[type="password"]::-webkit-input-placeholder {
  color: #B1B1B1;
}

.form__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.form__title_registration {
  text-transform: none;
}

.form__subtitle {
  width: 360px;
  padding: 13px 0 16px 18px;
  margin-bottom: 21px;
  border: none;
  outline: 1px solid #A4A4A4;
}

.form__button {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding: 10px 14px;
  outline: 1px solid #A4A4A4;
}

.form__button:hover {
  background: #F16D7F;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  color: #000000;
}

.form__radio label {
  cursor: pointer;
  padding-left: 10px;
}

.form__radiobutton {
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  color: #000000;
  padding: 32px 20px 33px 0;
}

.header {
  background: #222222;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__button {
  background: none;
  outline: none;
  border: none;
  fill: #E8E8E8;
  cursor: pointer;
}

.header-drop__close {
  text-align: right;
  padding: 16px 16px 8px;
}

.header-drop__list {
  padding-left: 34px;
}

.header-drop__text {
  padding-left: 34px;
  padding-bottom: 24px;
}

.header-drop__sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.header-drop__item-title {
  padding: 0;
}

.header-drop__item-link {
  line-height: 33px;
}

.header .burger__media {
  display: none;
  line-height: 25px;
}

.header-left__button {
  margin-left: 41px;
}

.header-right__button {
  margin-left: 33px;
}

@media (max-width: 1040px) {
  .header {
    padding: 0 20px;
  }
}

.banner {
  background: #F1E4E6;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 100vh;
  background-image: url(../img/men_jacket.jpg);
  background-repeat: no-repeat;
  background-position: center left -180px;
  margin-bottom: 65px;
}

.banner__text {
  width: 50%;
  border-left: 12px solid #F16D7F;
}

.banner__title {
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  text-transform: uppercase;
  padding-left: 16px;
}

.banner__subtitle {
  font-weight: 700;
  font-size: 32px;
}

.banner__subtitle_color {
  color: #F16D7F;
}

.content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__women, .content__men, .content__kids, .content__accesories {
  position: absolute;
}

.content__title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #F16D7F;
}

.content__subtitle {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.content__photo {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  z-index: -1;
}

.item-content__inner {
  margin-left: 28px;
}

.products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-top: 128px;
  margin-bottom: 128px;
}

.products__heading {
  text-align: center;
  margin-top: 96px;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #222222;
  padding-bottom: 6px;
}

.products__text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  font-weight: 400;
  padding-bottom: 57px;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.products__button {
  margin-top: 19px;
  margin-bottom: 95px;
  padding: 14px 35px;
}

.products__button:hover {
  background: #F16D7F;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.products-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 51px 0 64px 0;
}

.products-menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31%;
}

.products-menu__filter {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 15px;
  padding-right: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.products-sort__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-sort__title {
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  padding: 0 10px 0 28px;
  font-weight: 400;
  display: block;
}

.products-sort__menu {
  position: relative;
}

.products-sort__check {
  display: none;
}

.products-sort__check:checked ~ .products-sort__drop {
  display: block;
}

.products-sort__check:not(:checked) ~ .products-sort__drop {
  display: none;
}

.products-sort__drop {
  position: absolute;
}

.item-products__card {
  max-width: 360px;
  margin-bottom: 30px;
  background: #F8F8F8;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-products__card:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-products__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-products__overlay:hover {
  opacity: 1;
}

.item-products__title {
  padding-left: 18px;
  padding-top: 25px;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
}

.item-products__title a {
  color: inherit;
  text-decoration: none;
}

.item-products__text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  padding-left: 18px;
  padding-top: 13px;
  font-weight: 300;
  padding-right: 30px;
  max-width: 420px;
}

.item-products__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 18px;
  margin-top: 18px;
  padding-bottom: 20px;
}

.item-products__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid #FFFFFF;
  color: #FFFFFF;
  background: none;
  padding: 13px 16px 13px 13px;
}

.item-products__cart {
  fill: #FFFFFF;
  margin-right: 11px;
}

.products-nav__inner {
  padding: 48px 0 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-nav__outline {
  outline: 1px solid #EBEBEB;
  padding: 14px;
}

.products-nav__button {
  font-size: 16px;
  line-height: 19px;
  color: #9F9F9F;
  margin: 0 12px;
  background: #FFFFFF;
  border: none;
  font-weight: 300;
  outline: none;
  cursor: pointer;
}

.products-nav__button:hover {
  color: #F16D7F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-header {
  height: 148px;
  background: #F8F3F4;
}

.main-header__inner {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  font-weight: 500;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.breadcrumbs__nav {
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 5px;
}

.breadcrumbs__nav a {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs__link:before {
  content: "/\00a0";
  color: #636363;
  font-weight: 300;
}

.breadcrumbs__link_current {
  color: #F16D7F;
  font-weight: 700;
}

.merch__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #F7F7F7;
  padding-bottom: 60px;
  outline: 1px solid #EAEAEA;
}

.merch__button {
  background: rgba(42, 42, 42, 0.15);
  padding: 13px 17px;
  font-size: 30px;
  position: absolute;
}

.merch__button:hover {
  color: #F16D7F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.merch__button_left {
  left: 0px;
}

.merch__button_right {
  right: 0px;
}

.merch-card__inner {
  margin-top: -80px;
  outline: 1px solid #EAEAEA;
  text-align: center;
  position: relative;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.merch-card__category {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  font-weight: 300;
  text-transform: uppercase;
  padding: 64px 0 27px 0;
}

.merch-card__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
  padding: 12px 0 48px 0;
}

.merch-card__text {
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  max-width: 550px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 32px;
}

.merch-card__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  padding-bottom: 65px;
  width: 641px;
  border-bottom: 1px solid #EAEAEA;
}

.merch-card__button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 10px 50px 10px 25px;
  font-weight: 400;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.merch-card__button:hover {
  background: #F16D7F;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.merch-card__cart {
  color: #F16D7F;
  fill: #EF5B70;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.merch-card__button:hover .merch-card__cart {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.merch-sort__inner {
  padding: 65px 0 50px 0;
}

.cart__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 96px 0 128px 0;
}

.cart__items {
  list-style-type: none;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  margin-bottom: 40px;
}

.cart__text {
  width: 57%;
  padding: 22px 31px 62px 31px;
}

.cart__title {
  padding-bottom: 42px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart__subtitle {
  padding-bottom: 6px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__price {
  color: #F16D7F;
}

.cart__border {
  outline: 1px solid #EAEAEA;
  padding: 2px 16px;
  margin-left: 25px;
}

.cart__img {
  margin: 28px 22px 0 0;
}

.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 72px;
}

.cart__button {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  outline: 1px solid #A4A4A4;
  font-weight: 300;
  padding: 16px 40px;
}

.cart__button:hover {
  background: #F16D7F;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cart__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 17px 0 0 129px;
}

.cart__checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 360px;
  background: #F5F3F3;
}

.checkout {
  background: #F5F3F3;
}

.checkout__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 360px;
  padding: 39px 34px 42px 0;
}

.checkout__title {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.checkout__subtitle {
  text-align: end;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 21px;
  width: 273px;
  border-bottom: 1px solid #E2E2E2;
}

.checkout__price {
  padding-left: 25px;
}

.checkout__price_color {
  color: #F16D7F;
  font-weight: 900;
}

.checkout__button {
  margin-top: 17px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  padding: 16px 42px;
  text-transform: uppercase;
}

.checkout__button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.registration__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 64px 0 96px 0;
}

.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__text {
  max-width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: -6px;
  margin-bottom: 39px;
}

.registration__button {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  padding: 16px 0 17px 29px;
  text-transform: uppercase;
}

.registration__button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.registration__arrow {
  margin-left: 20px;
  margin-right: 29px;
  fill: #FFFFFF;
  text-decoration: none;
}

.registration__button:hover .registration__arrow {
  fill: #F16D7F;
}

.advantages__inner {
  padding-left: 128px;
}

.advantages__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.advantages__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 21px;
}

.advantages__list {
  padding-left: 30px;
  list-style-image: url(/img/check.png);
}

.advantages__item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 16px;
  padding-left: 20px;
}

.features {
  background: #222224;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 103px 0;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
}

.features__icon {
  fill: #F16D7F;
}

.features__title {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 16px;
}

.features__text {
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  font-weight: 300;
  text-align: center;
  max-width: 310px;
}

.feedback__background {
  position: relative;
  height: 430px;
}

.feedback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 140px;
}

.feedback__info {
  max-width: 360px;
  padding-top: 87px;
}

.feedback__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0);
}

.feedback__text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  font-weight: 400;
}

.feedback__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 155px;
  padding-right: 80px;
}

.feedback__title {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-left: 10px;
  font-weight: 700;
}

.feedback__subtitle {
  padding-bottom: 35px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  line-height: 24px;
  padding-left: 10px;
  font-weight: 500;
}

.feedback__form {
  text-align: center;
}

.feedback__email {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  width: 262px;
  opacity: 0.67;
  padding: 15px 0 15px 22px;
  background-color: #E1E1E1;
  border-radius: 23px 0 0 23px;
  border: none;
  outline: none;
}

.feedback__button {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 100px;
  text-align: center;
  background: #F16D7F;
  padding: 15px;
  border-radius: 0 23px 23px 0;
  border: none;
  letter-spacing: 0.35px;
  outline: none;
  margin-left: -3px;
  cursor: pointer;
}

.feedback__button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feedback__background::after {
  background: url(../img/sea.png) 100% 100% no-repeat;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 100%;
}

.footer {
  background: #222224;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__item {
  text-decoration: none;
  fill: #FFFFFF;
}

.footer__item:hover {
  fill: #F16D7F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__icon {
  fill: #000000;
}

.footer__item:hover .footer__icon {
  fill: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */