$primary-pink:#F16D7F;
$primary-black:#222222;
$second-black: #222224;
$primary-white: #FFFFFF;
$second-white: #FBFBFB;
$primary-gray:#636363;
$second-gray:#9F9F9F;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background: $primary-black;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }

  &__left,
  &__right {
    display: flex;
    align-items: flex-end;
  }

  &__button {
    background: none;
    outline: none;
    border: none;
    fill: #E8E8E8;
  }
}

.header-left {

  &__button {
    margin-left: 41px;
  }
}

.header-right {

  &__button {
    margin-left: 33px;
  }
}

.banner {
  background: #F1E4E6;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 764px;
    background-image: url(../img/men_jacket.jpg);
    background-repeat: no-repeat;
    background-position: center left -180px;
    margin-bottom: 65px;
  }

  &__text {
    width: 50%;
    border-left: 12px solid $primary-pink;
  }

  &__title {
    font-weight: 900;
    font-size: 48px;
    color: $primary-black;
    text-transform: uppercase;
    padding-left: 16px;

  }

  &__subtitle {
    font-weight: 700;
    font-size: 32px;
  }

  &__subtitle_color {
    color: $primary-pink;
  }
}

.content {

  &__inner {
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    flex-flow: column wrap;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  &__women,
  &__men,
  &__kids,
  &__accesories {
    position: absolute;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: $primary-pink;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $primary-white;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__photo {
    filter: brightness(40%);
    z-index: -1;
  }

}

.item-content {

  &__inner {
    margin-left: 28px;
  }
}

.button {
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  outline: 1px solid #FF6A6A;
  background: $primary-white;
  border: none;
}

.products {

  &__inner {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  &__heading {
    text-align: center;
    margin-top: 96px;
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: $primary-black;
    padding-bottom: 6px;
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: $second-gray;
    padding-bottom: 57px;
  }

  &__items {
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    justify-content: center;
  }

  &__button {
    margin-top: 15px;
    margin-bottom: 95px;
    padding: 14px 35px;
  }

  &__margin {
    margin: 128px 0;
  }
}

.products-menu {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 51px 0 64px 0;

  &__inner {
    display: flex;
    align-items: center;
    width: 31%;
  }

  &__filter {
    padding-left: 15px;
    padding-right: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
  }
}

.products-sort {

  &__inner {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 14px;
    line-height: 17px;
    color: $primary-gray;
    text-transform: uppercase;
    padding: 0 10px 0 28px;
    font-weight: 400;
  }
}

.item-products {

  &__inner {
    max-width: 360px;
    margin-right: 20px;
    margin-bottom: 30px;
    background: #F8F8F8;
  }

  &__title {
    padding-left: 18px;
    padding-top: 25px;
    font-size: 13px;
    line-height: 16px;
    color: $primary-black;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__title a {
    color: inherit;
    text-decoration: none;
  }

  &__text {
    padding-left: 18px;
    padding-top: 13px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $second-gray;
    padding-right: 30px;
    max-width: 420px;
  }

  &__price {
    padding-left: 18px;
    margin-top: 18px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    color: $primary-pink;
  }
}

.products-nav {

  &__inner {
    padding: 48px 0 96px 0;
    display: flex;
    align-items: center;
  }

  &__outline {
    outline: 1px solid #EBEBEB;
    padding: 14px;
  }

  &__button {
    margin: 0 12px;
    background: $primary-white;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    color: $second-gray;
  }

  &__button_active {
    color: #EF5B70;
  }
}

.features {
  background: $second-black;

  &__items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 103px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 360px;
  }

  &__icon {
    fill: $primary-pink;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: $second-white;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $second-white;
    max-width: 310px;
  }
}

.feedback {

  &__background {
    position: relative;
    height: 430px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
  }

  &__info {
    max-width: 360px;
    padding-top: 87px;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0);
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $second-black;
    font-weight: 400;
  }

  &__check {
    display: flex;
    flex-direction: column;
    padding-top: 155px;
    padding-right: 80px;
  }

  &__title {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: $second-black;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-left: 10px;
    font-weight: 700;
  }

  &__subtitle {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: $second-black;
    line-height: 24px;
    padding-left: 10px;
    font-weight: 500;
  }

  &__form {
    text-align: center;
  }

  &__email {
    width: 262px;
    font-size: 14px;
    line-height: 17px;
    color: $second-black;
    opacity: 0.67;
    padding: 15px 0 15px 22px;
    background-color: #E1E1E1;
    border-radius: 23px 0 0 23px;
    border: none;
    outline: none;
  }

  &__button {
    width: 100px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $primary-white;
    background: $primary-pink;
    padding: 15px;
    border-radius: 0 23px 23px 0;
    border: none;
    letter-spacing: 0.35px;
    outline: none;
    margin-left: -3px;
  }
}

.feedback__background::after {
  background: url(../img/sea.png) 100% 100% no-repeat;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 100%;
}


.catalog-header {
  height: 148px;
  background: #F8F3F4;

  &__inner {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    line-height: 29px;
    color: $primary-pink;
    text-transform: uppercase;
    font-weight: 500;
  }

}

.breadcrumbs {
  list-style: none;

  &__inner {
    display: flex;
    list-style-type: none;
  }

  &__nav {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: $primary-gray;
    text-transform: uppercase;
    padding-left: 5px;
    text-decoration: none;
  }

  &__link:before {
    content: "/\00a0";
    color: $primary-gray;
    font-weight: 300;
  }

  &__nav a {
    text-decoration: none;
  }

  &__link_current {
    color: $primary-pink;
    font-weight: 700;
  }
}


.merch {

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #F7F7F7;
    padding-bottom: 60px;
    outline: 1px solid #EAEAEA;
  }

  &__button {
    background: rgba(42, 42, 42, 0.15);
    padding: 13px 17px;
    font-size: 30px;
    position: absolute;
  }

  &__button_left {
    left: 0px;
  }

  &__button_right {
    right: 0px;
  }
}

.merch-card {

  &__inner {
    margin-top: -80px;
    outline: 1px solid #EAEAEA;
    text-align: center;
    position: relative;
    background: $primary-white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__category {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    padding: 64px 0 27px 0;
  }

  &__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
    padding: 12px 0 48px 0;
  }

  &__text {
    max-width: 550px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding-bottom: 32px;
  }

  &__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-bottom: 65px;
    width: 641px;
    border-bottom: 1px solid #EAEAEA;
  }

  &__button {
    padding: 10px 50px 10px 25px;
    display: flex;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 65px;
  }

  &__cart {
    margin-right: 23px;
  }
}

.merch-sort {

  &__inner {
    padding: 65px 0 50px 0;
  }
}


.footer {
  background: $second-black;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  &__text {
    font-size: 16px;
    color: $second-white;
  }

  &__item {
    text-decoration: none;
    fill: $primary-white;
  }
}