@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__button {
  background: none;
  outline: none;
  border: none;
  fill: #E8E8E8;
}

.header-left__button {
  margin-left: 41px;
}

.header-right__button {
  margin-left: 33px;
}

.banner {
  background: #F1E4E6;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 764px;
  background-image: url(../img/men_jacket.jpg);
  background-repeat: no-repeat;
  background-position: center left -180px;
  margin-bottom: 65px;
}

.banner__text {
  width: 50%;
  border-left: 12px solid #F16D7F;
}

.banner__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
  padding-left: 16px;
  letter-spacing: 2.5px;
}

.banner__subtitle {
  font-weight: 700;
  font-size: 37px;
  color: #222222;
  text-transform: uppercase;
  padding-left: 16px;
}

.text_pink {
  color: #F16D7F;
}

.content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__women, .content__men, .content__kids, .content__accesories {
  position: absolute;
}

.content__title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.content__subtitle {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
}

.content__photo {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  z-index: -1;
}

.item__inner {
  margin-left: 28px;
}

.products__heading {
  text-align: center;
  margin-top: 96px;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #222222;
  padding-bottom: 6px;
}

.products__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #9F9F9F;
  padding-bottom: 57px;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__button {
  margin-top: 49px;
  margin-bottom: 95px;
  padding: 14px 35px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  background-color: white;
}

.item-products__inner {
  max-width: 360px;
  margin-right: 20px;
}

.item-products__link {
  text-decoration: none;
}

.item-products__title {
  padding-left: 18px;
  padding-top: 25px;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.item-products__txt {
  padding-left: 18px;
  padding-top: 13px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-right: 30px;
  max-width: 420px;
}

.item-products__price {
  padding-left: 18px;
  margin-top: 18px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
/*# sourceMappingURL=style.css.map */