* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }

  &__left,
  &__right {
    display: flex;
    align-items: flex-end;
  }

  &__button {
    background: none;
    outline: none;
    border: none;
    fill: #E8E8E8;
  }
}

.header-left {

  &__button {
    margin-left: 41px;
  }
}

.header-right {

  &__button {
    margin-left: 33px;
  }
}

.banner {
  background: #F1E4E6;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 764px;
    background-image: url(../img/men_jacket.jpg);
    background-repeat: no-repeat;
    background-position: center left -180px;
    margin-bottom: 65px;
  }

  &__text {
    width: 50%;
    border-left: 12px solid #F16D7F;
  }

  &__title {
    font-weight: 900;
    font-size: 48px;
    color: #222222;
    text-transform: uppercase;
    padding-left: 16px;

  }

  &__subtitle {
    font-weight: 700;
    font-size: 32px;
  }
}

.pink {
  color: #F16D7F;
}

.content {

  &__inner {
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    flex-flow: column wrap;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  &__women,
  &__men,
  &__kids,
  &__accesories {
    position: absolute;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__photo {
    filter: brightness(40%);
    z-index: -1;
  }

}

.item {

  &__inner {
    margin-left: 28px;
  }
}


.products {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  &__heading {
    text-align: center;
    margin-top: 96px;
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #222222;
    padding-bottom: 6px;
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #9F9F9F;
    padding-bottom: 57px;
  }

  &__items {
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    justify-content: center;
    background: #F8F8F8;
  }

  &__button {
    display: flex;
    margin-top: 49px;
    margin-bottom: 95px;
    padding: 14px 35px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    background-color: white;
    align-items: flex-end;
  }
}

.item-products {

  &__inner {
    max-width: 360px;
    margin-right: 20px;
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    padding-left: 18px;
    padding-top: 25px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
  }

  &__txt {
    padding-left: 18px;
    padding-top: 13px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-right: 30px;
    max-width: 420px;
  }

  &__price {
    padding-left: 18px;
    margin-top: 18px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
  }
}

.features {
  background: #222224;

  &__items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 103px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 360px;
  }

  &__icon {
    fill: #F16D7F;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  &__txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    max-width: 310px;
  }
}

.feedback {


  &__background {
    position: relative;
    height: 430px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
  }

  &__info {
    max-width: 360px;
    padding-top: 87px;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0);
  }

  &__txt {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
  }

  &__check {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-right: 80px;
  }

  &__title {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-left: 10px;
    font-weight: 700;
  }

  &__subtitle {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #222224;
    line-height: 24px;
    padding-left: 10px;
    font-weight: 500;
  }

  &__form {
    text-align: center;
  }

  &__email {
    width: 262px;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    padding: 15px 0 15px 22px;
    background-color: #e1e1e1;
    border-radius: 23px 0 0 23px;
    border: none;
    outline: none;
  }

  &__btn {
    width: 100px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    background: #f16d7f;
    padding: 15px;
    border-radius: 0 23px 23px 0;
    border: none;
    letter-spacing: 0.35px;
    outline: none;
    margin-left: -3px;
  }
}

.feedback__background::after {
  background: url(/img/sea.png) no-repeat;
  content: "";
  opacity: 0.5;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 100%;
}

.footer {
  background: #222224;

  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
  }

  &__txt {
    font-size: 16px;
    color: #FBFBFB;
  }

  &__item {
    text-decoration: none;
    fill: #FFFFFF;
  }
}